<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ut unde, doloremque quia ad dicta.</p>
    <hr class="my-4">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta illum eveniet voluptas explicabo debitis eum
        eligendi blanditiis neque quaerat. Labore ipsam nemo quod maiores laborum, quae cupiditate blanditiis ea?
        Reprehenderit.
    </p>
    <a href="http://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>